@charset "utf-8";
@import url('./nanumbarungothic.css');
@import url('./nanumsquareround.css');

* {
  margin: 0;
  padding: 0;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, th, td, input, select, textarea, button, code, kbd, pre, samp {
  font-family: "NanumBarunGothic", "돋움", "Dotum", Arial, Tahoma, sans-serif, serif;
  color: #444;
  font-size: 13px;
  line-height:1.4;
}

ul, ol, dl {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, strong, th {
  font-weight: normal;
}

b {
  font-weight: bold;
}

a {
    color: inherit;
    text-decoration: none;
}
a:active, a:hover {
    text-decoration: none;
}
img{max-width:100%;}
input[type="text"],input[type="password"],textarea{-webkit-appearance: none;-moz-appearance: none;appearance: none;border-radius: 0px;}
select{border-radius:0;}
select::-ms-expand{display: none;}
.hide {
  display: none
}
button{cursor:pointer;}
/* float */
.float .left{float:left;}
.float .right{float:right;}

.clearfix{zoom:1}
.clearfix:after, .clearfix:before{display:table;content:"";}
.clearfix:after{clear: both;}

/* vertical align */
.align_top{vertical-align:top}
.align_middle{vertical-align:middle}
.align_bottom{vertical-align:bottom}

/* text align */
.align_center{text-align:center}
.align_left{text-align:left}
.align_right{text-align:right}

/* display */
.block {display:block !important;}
.il_block {display:inline-block !important;}
.hide {display:none !important;}
.screen_hide{position: absolute;text-indent: -9999px;width: 0;height: 0;font-size: 0;line-height: 0;overflow: hidden;}
.sound_only {
  display: inline-block !important;
  position: absolute;
  top: 0;
  left: 0;
  width:0 !important;
  height:0 !important;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 0 !important;
  line-height: 0 !important;
  border: 0 !important;
  overflow: hidden !important
}
.underline{text-decoration:underline;}

#skip_to_container a {z-index:100000;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden}
#skip_to_container a:focus, #skip_to_container a:active {width:100%;height:75px;background:#21272e;color:#fff;font-size:2em;font-weight:bold;text-align:center;text-decoration:none;line-height:3.3em}

.mgt0 {margin-top:0px !important;}
.mgt5 {margin-top:5px !important;}
.mgt7 {margin-top:7px !important;}
.mgt10 {margin-top:10px !important;}
.mgt15 {margin-top:15px !important;}
.mgt20 {margin-top:20px !important;}
.mgt30 {margin-top:30px !important;}
.mgt40 {margin-top:40px !important;}
.mgt50 {margin-top:50px !important;}
.mgt60 {margin-top:60px !important;}
.mgt70 {margin-top:70px !important;}
.mgt80 {margin-top:80px !important;}
.mgt90 {margin-top:90px !important;}
.mgt100 {margin-top:100px !important;}

.mgr5 {margin-right:5px !important;}
.mgr10 {margin-right:10px !important;}
.mgr20 {margin-right:20px !important;}
.mgr30 {margin-right:30px !important;}
.mgr50 {margin-right:50px !important;}

.mgb5 {margin-bottom:5px !important;}
.mgb10 {margin-bottom:10px !important;}
.mgb20 {margin-bottom:20px !important;}
.mgb30 {margin-bottom:30px !important;}
.mgb40 {margin-bottom:40px !important;}
.mgb50 {margin-bottom:50px !important;}

.mgl5 {margin-left:5px !important;}
.mgl10 {margin-left:10px !important;}
.mgl20 {margin-left:20px !important;}
.mgl30 {margin-left:30px !important;}
.mgl50 {margin-left:50px !important;}

.pdl0{padding-left:0px !important;}
.pdl5{padding-left:5px !important;}
.pdl10{padding-left:10px !important;}
.pdl20{padding-left:20px !important;}
.pdl30{padding-left:30px !important;}
.pdl40{padding-left:40px !important;}
.pdl50{padding-left:50px !important;}

.pdr0{padding-right:0px !important;}
.pdr5{padding-right:5px !important;}
.pdr10{padding-right:10px !important;}
.pdr20{padding-right:20px !important;}
.pdr30{padding-right:30px !important;}
.pdr40{padding-right:40px !important;}
.pdr50{padding-right:50px !important;}
.pdr60{padding-right:60px !important;}
.pdr70{padding-right:70px !important;}
.pdr80{padding-right:80px !important;}
.pdr90{padding-right:90px !important;}
.pdr100{padding-right:100px !important;}
.pdr110{padding-right:110px !important;}
.pdr120{padding-right:120px !important;}
.pdr130{padding-right:130px !important;}

.txt_underline{text-decoration:underline !important;}
.txt_bgreen{color:#8edac2 !important;}
.txt_blue{color:#0b68b4 !important;}
.txt_skyblue{color:#00a0e2 !important;}
.txt_orange{color:#ff683f !important;}

.fs_13{font-size:13px !important;}
.fs_14{font-size:14px !important;}
.fs_15{font-size:15px !important;}
.fs_16{font-size:16px !important;}
.fs_17{font-size:17px !important;}
.fs_18{font-size:18px !important;}

.bdb0{border-bottom:0 !important;}
.bdt0{border-top:0 !important;}


.txt_normal{font-size:13px;color:#222;line-height:21px;word-break:keep-all;}
.bold{font-weight:600;}

/*셀렉트박스*/
select.type1{width:100%;background-color:#fff;padding-left:10px;background-repeat:no-repeat;background-position:right 9px center;background-size:auto 6px;background-image:url('../images/common/select.png');-webkit-appearance: none; 
-moz-appearance: none;appearance: none;border-radius: 0px;}
select.type2{width:100%;background-color:#fff;padding-left:10px;background-image:url('../images/common/select2.png');background-position:right 10px center;background-repeat:no-repeat;background-size:11px auto;-webkit-appearance: none; 
-moz-appearance: none;
appearance: none;border-radius: 0px;background-color:#fff;
}

.swiper-container {width: 100%;height: 100%;}
.swiper-slide {text-align: center;font-size: 18px;background: #fff;/* Center slide text vertically */display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;
 display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;
-ms-flex-align: center;-webkit-align-items: center;align-items: center;}

html{background-color:#ddd;}
#layout{max-width:1200px;margin-left:auto;margin-right:auto;min-height:100vh;background-color:#fff;position:relative;}
#layout.grey{background-color:#f4f4f4;}
#layout.grey2{background-color:#c6c6c6;}
.container{padding-left:20px;padding-right:20px;}
.container:after,.container_sm:after{clear: both;display: table;content: "";*display: block;*overflow: hidden}
.container:before,.container_sm:before{display: table;content: "";*display: block;*overflow: hidden}



/*슬라이더*/
.slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}
.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}
.slick-list:focus{outline:0}
.slick-list.dragging{cursor:pointer;cursor:hand}
.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.slick-track{position:relative;top:0;left:0;display:block;margin-left:auto;margin-right:auto}
.slick-track:after,.slick-track:before{display:table;content:''}
.slick-track:after{clear:both}
.slick-loading .slick-track{visibility:hidden}
.slick-slide{display:none;float:left;height:100%;min-height:1px}
[dir=rtl] .slick-slide{float:right}
.slick-slide img{display:block;width:100%;}
.slick-slide.slick-loading img{display:none}
.slick-slide.dragging img{pointer-events:none}
.slick-initialized .slick-slide{display:block}
.slick-loading .slick-slide{visibility:hidden}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}
.slick-arrow.slick-hidden{display:none}

.slider_form .slick-dots{}
.slider_form .slick-dots{text-align:center;}
.slider_form .slick-dots li{display:inline-block;}
.slider_form .slick-dots li button{text-indent:-999em;overflow:hidden;border:0;background-color:#e3e3e3;border-radius:50%;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-ms-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
.slider_form .slick-dots li.slick-active button{border:2px solid #1268b4;background-color:#fff;}
.slick-slider .slick-arrow{position:absolute;top:50%;display:inline-block;text-indent:-999em;overflow:hidden;}

/*레이어*/
.layer_form{}
.layer_form .layer_box{position:relative;z-index:10;text-align:left;display:inline-block;vertical-align:middle;overflow:hidden;}
.layer_form .layer_box .layer_cnt{background-color:#fff;overflow-y:auto;height:100%;}
.layer_form .layer_box .layer_cnt.grey{background-color:#f4f4f4;}
.layer_form .layer_bg{position:fixed;left:0;top:0;z-index:1;width:100%;height:100%;}
.layer_form .layer_bg.dim{background-color:rgba(0,0,0,.77);}
.layer_form.fixed_layer{position:fixed;overflow-y:auto;z-index:100;left:0;top:0;width:100%;height:100%;height:100vh;text-align:center;}
.layer_form .blank{display:inline-block;width:0;height:100%;vertical-align:middle}


.design_check,.design_radio{position:relative;display:inline-block;cursor:pointer;background-repeat:no-repeat;overflow:hidden;}
.design_check input[type="checkbox"],.design_radio input[type="radio"]{position:absolute;left:-9999px;top:-9999px;z-index:-1;}
.design_check{background-position:left top;background-image:url('../images/common/design_check_type1.png');}
.design_radio{background-position:top left;}
.design_check.active{background-image:url('../images/common/design_check_type1_on.png');}
.design_radio.active{}

.design_check.type1{position:relative;padding-left:32px;min-height:22px;line-height:22px;background-size:22px;color:#222;background:none;background:unset;background-position:-999em;}
.design_check.type1:before{content:"";border:1px solid #cdcdcd;background-color:#cdcdcd;position:absolute;left:0;top:0;display:block;width:20px;height:20px;background-image:url('../images/common/design_check_type1.png');background-size:20px;background-position:center center;}
.design_check.type1.active:before{background-image:url('../images/common/design_check_type1_on.png');background-color:var( --theme-color-1);border:1px solid var( --theme-color-1);}
.design_check.type2{position:relative;padding-left:35px;min-height:24px;line-height:24px;font-size:14px;color:#222;background:none;background:unset;background-position:-999em;}
.design_check.type2:before{content:"";border:1px solid #b7b7b7;position:absolute;left:0;top:0;display:block;width:22px;height:22px;border-radius:50%;background-image:url('../images/common/design_check_type2.png');background-size:24px;background-position:center center;}
.design_check.type2.active:before{background-image:url('../images/common/design_check_type2_on.png');background-color:var( --theme-color-1);border:1px solid var( --theme-color-1);}

.design_check.type3 span{position:relative;display:inline-block;padding-left:35px;min-height:12px;background:none;background:unset;background-position:-999em;}
.design_check.type3 span:before{content:"";position:absolute;left:0;top:50%;margin-top:-6px;display:block;width:18px;height:12px;background-image:url('../images/common/design_check_type3.png');background-size:18px;background-position:center center;background-color:#bfbfbf;}
.design_check.type3.active span:before{background-color:var( --theme-color-1);}

.design_check.type4{position:relative;padding-left:32px;min-height:22px;line-height:22px;background-size:22px;color:#222;background:none;background:unset;background-position:-999em;font-size:14px;}
.design_check.type4:before{content:"";border:1px solid #cdcdcd;background-color:#cdcdcd;position:absolute;left:0;top:0;display:block;width:20px;height:20px;background-image:url('../images/common/design_check_type1.png');background-size:20px;background-position:center center;}
.design_check.type4.active:before{background-image:url('../images/common/design_check_type1_on.png');background-color:var( --theme-color-1);border:1px solid var( --theme-color-1);}
.design_check .sub{color:#888888;}


.design_radio.type1{position:relative;padding-left:20px;min-height:20px;line-height:20px;color:#222;}
.design_radio.type1:before{content:"";border:1px solid #cacaca;background-color:#fff;position:absolute;left:0;top:0;display:block;width:18px;height:18px;border-radius:50%;}
.design_radio.type1.active:before{width:10px;height:10px;left:1px;top:1px;background-color:var( --theme-color-1);border:4px solid #fff;box-shadow:0 0 0 1px var( --theme-color-1);}


.design_check.type1.single{padding-left:22px;}
.design_radio.type1.single{padding-left:20px;}
.design_check.type2.single,.design_radio.type2.single{padding-left:24px;}
.inline_labels label{display:inline-block;}
.inline_labels label + label{margin-left:20px;}