@charset "UTF-8";
#skip_to_nav{position: absolute;text-indent: -9999;width: 0;height: 0;font-size: 0;line-height: 0;overflow: hidden;}
*{margin: 0;padding: 0;vertical-align: top;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;letter-spacing:-0.5px;}
body, th, td, input, select, textarea, button {font-family:"돋움", "Dotum", Arial, Tahoma, sans-serif, serif;color: #444;-webkit-text-size-adjust: none;font-size: 13px;}
button{cursor:pointer}

a{vertical-align: top;text-decoration: none;color:#346fd7}
ul,ol,dl{list-style:none;}
h1,h2,h3,h4,h5,h6,strong,b,th{font-weight:normal;}
b{font-weight:bold;}
.hide{display:none}
.screen_hide{position: absolute;text-indent: -9999px;width: 0;height: 0;font-size: 0;line-height: 0;overflow: hidden;}
.sound_only{display:inline-block !important;position:absolute;top:0;left:0;margin:0 !important;padding:0 !important;font-size:0;line-height:0;border:0 !important;overflow:hidden !important}
.clearfix{zoom:1}
.clearfix:after, .clearfix:before{display:table;content:"";*display:block; *overflow:hidden}
.clearfix:after{clear: both;}
.inline_block{display:inline-block;}
.block{display:block;}
.mt50{margin-top:50px !important;}
.mt25{margin-top:25px !important;}
.ml0{margin-left:0 !important;}
.ml5{margin-left:5px !important;}
.ml10{margin-left:10px !important;}
.ml30{margin-left:30px !important;}
.mr0{margin-right:0 !important;}
.mt5{margin-top:5px !important;}
.mt10{margin-top:10px !important;}
.mt15{margin-top:15px !important;}
.mt20{margin-top:20px !important;}
.mt40{margin-top:40px !important;}
.pt15{padding-top:15px !important;}
.orang_txt{color:#f37a21 !important;}
.red_txt{color:#be3545 !important;}
.gold_txt{color:#b17f5a !important;}
.txt_brown{color:#AC5C0F !important;}
.container{margin-left:auto;margin-right:auto;width:1020px;}
.container:after{clear:both;display:table;content:"";*display:block; *overflow:hidden}
.container:before{display:table;content:"";*display:block; *overflow:hidden}
table{border-collapse:collapse;width:100%}
body.scroll_non{height:100%;overflow:hidden}
.float .left{float:left;}
.float .right{float:right;}
.align_left{text-align:left !important}
.align_center{text-align:center !important}
.align_right{text-align:right !important}
.strong{font-weight:bold}
.txt14{font-size:14px;color:#222;}
.textn{font-size:13px;color:#222;}
.textm{font-size:14px;color:#444;font-weight:bold}
#layout{}
#header{}
#head_top_form{height:61px;border-bottom:1px solid #e2e2e2;}
#head_top_form #head_top{width:1020px;margin:0 auto;}
#head_top .logo{float:left;margin-top:20px;}
#head_top .logo img{}
#head_top .ht_menu{float:right;margin-top:21px;letter-spacing:-1px;}
#head_top .ht_menu a{display:inline-block;line-height:18px;color:#444;}
#head_top .ht_menu .ht_devide{display:inline-block;line-height:18px;color:#929292;font-size:11px;margin:0 10px;}
#head_bottom{border-bottom:2px solid #5e5e5e;}
#head_bottom #gnb{width:1020px;margin:0 auto;}
#head_bottom #gnb li.gnb_1li{width:170px;float:left;height:59px;position:relative;}
#head_bottom #gnb li.gnb_1li > a{display:block;height:59px;line-height:59px;text-align:center;font-size:15px;color:#444;font-weight:bold}
#head_bottom #gnb li.gnb_1li:hover ul{display:block;}
#head_bottom #gnb .gnb_2ul{display:none;position:absolute;top:59px;left:50%;white-space:nowrap;background-color:#fff;border-top:2px solid #5e5e5e}
#head_bottom #gnb > li:first-child .gnb_2ul{left:0;margin-left:0 !important}
#head_bottom #gnb > li:first-child .gnb_2ul:before{left:76px;margin-left:0;}
#head_bottom #gnb > li:last-child .gnb_2ul{left:auto;right:0;margin-left:0 !important}
#head_bottom #gnb > li:last-child .gnb_2ul:before{left:auto;right:76px;margin-left:0;}
#head_bottom #gnb .gnb_2ul:before{content:"";display:inline-block;position:absolute;width:18px;height:11px;left:50%;top:-11px;;margin-left:-9px;background-image:url('../../images/ssgb2e_img/gnb_arrow.jpg');}
#head_bottom #gnb .gnb_2ul .gnb_2li{display:inline-block;margin-left:33px;}
#head_bottom #gnb .gnb_2ul .gnb_2li:first-child{margin-left:0;}
#head_bottom #gnb .gnb_2ul .gnb_2li a{color:#444;display:block;height:50px;line-height:50px;}
#head_bottom #gnb .gnb_2ul .gnb_2li a:hover{color:#c93546;}
#content{margin-left:auto;margin-right:auto;}

#footer{border-top:1px solid #d8d8d8;height:140px;}
#footer #f_logo{float:left;width:135px;height:16px;margin:57px 35px 0 0;}
#footer #f_logo img{}
#footer .f_info{width:680px;margin-top:25px;font-size:12px;float:left;color:#444;;letter-spacing:-0.5px;}
#footer .f_info .f_terms{font-size:12px;color:#444;font-weight:bold;}
#footer .f_info .f_info_cont{margin-bottom:5px;margin-top:6px;}
#footer .f_info .f_info_cont span{margin-bottom:6px;display:inline-block;}
#footer .f_info .f_info_cont span:before{content:"";display:}
#footer .f_info .f_copy{color:#8b8b8b;}
#footer .f_family{float:right;width:170px;margin-top:45px;position:relative;letter-spacing:-1px;}
#footer .f_family strong{display:block;border:1px solid #e4e4e4;width:170px;height:40px;line-height:38px;overflow:hidden;background-image:url('../../images/ssgb2e_img/f_family_arrow.jpg');background-repeat:no-repeat;background-position:right bottom;padding-left:16px;}
#footer .f_family:hover strong{background-image:url('../../images/ssgb2e_img/f_family_arrow_on.jpg');background-color:#e6e6e6;}
#footer .f_family:hover ul{display:block;}
#footer .f_family ul{position:absolute;display:none;bottom:40px;left:0;border-top:1px solid #e6e6e6;border-left:1px solid #e6e6e6;border-right:1px solid #e6e6e6;background-color:#fff;padding:16px 18px 10px 18px;width:170px;}

#footer .f_family ul li{}
#footer .f_family ul li a{color:#777;margin-bottom:8px;display:inline-block;}
#footer .f_family ul li:hover a{text-decoration:underline;}
