@charset "UTF-8";
@import url('reset.css');

/* ########## COMMON ########## */
.clear:after {clear:both; display:block; content:'';}
.clearfix{zoom:1}
.clearfix:after, .clearfix:before{display:table;content:"";*display:block; *overflow:hidden}
.clearfix:after{clear: both;}
/* text-align */
.txtl {text-align:left;}
.txtc {text-align:center;}
.txtr {text-align:right;}
.screen_hide{position:absolute;left:0;top:0;width:0;height:0;overflow:hidden;margin:0;padding:0;}

.txtli {text-align:left !important;}
.txtci {text-align:center !important;}
.txtri {text-align:right !important;}

.tbody.txtc td.txtl {text-align:left;}
.tbody.txtc td.txtr {text-align:right;}
.mt30{margin-top:30px;}
.mt20{margin-top:20px;}
.mt15{margin-top:15px;}
.mt70{margin-top:70px;}
.w100 {width:100%;}
.w100i {width:100% !important;}
h1, h2, h3, h4, h5, h6 {font-weight: normal;}
b.bold {font-family: 'NanumBarunGothicB';}
b.amount {font-family: 'NanumBarunGothicB'; font-size: 15px;}
span.division {
	display: inline-block;
	width:20px;
	text-align: center;
}
.txtred {color:#f64a3e !important;}
.underline{text-decoration:underline;}

/* input */
input[type="text"], input[type="search"], input[type="tel"], input[type="url"], input[type="email"], input[type="password"], input[type="number"], select, textarea {
	-webkit-appearance:none; -moz-appearance:none; appearance:none;
	-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
	vertical-align: middle;
}
input[type="text"], input[type="search"], input[type="tel"], input[type="url"], input[type="email"], input[type="password"], input[type="number"] {
	height:32px; line-height:32px; padding:0 10px;
	font-size:inherit;
	border:1px solid #dedede;
	color:inherit; 
}
input[type="text"]:read-only, input[type="search"]:read-only, input[type="tel"]:read-only, input[type="url"]:read-only, input[type="email"]:read-only, input[type="password"]:read-only {
	background-color: #dfdfdf;
}
input[type="text"]:focus::-webkit-input-placeholder ,input[type="text"]:focus::-moz-placeholder { color:transparent; }
input.readonly {
	padding:0;
	border:0 none;
}
input[type="text"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="url"]:disabled, input[type="email"]:disabled, input[type="password"]:disabled, select:disabled {
	background-color: #dfdfdf;
}

input[type="tel"], input[name="tel"] {
	width:110px;
	text-align:center;
}
textarea {
	line-height:24px; padding:10px;
	font-size:inherit; color:inherit;
	border:1px solid #dedede;
	-webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;
}
textarea:read-only {
	padding:0;
	border:0 none;
}
textarea.readonly {
	padding:0;
	border:0 none;
}
textarea:disabled {
	color:#888;
	background-color:#eee;
}

/* CHECKBOX / RADIO */
/*input[type='checkbox'], input[type='radio'] {
	position:absolute; z-index:-1000; left:-1000px; overflow:hidden; clip:rect(0 0 0 0);
	width:1px; height:1px; margin:-1px; padding:0;
	border:0;
}
*/
input[type='checkbox'] {
	width:20px; height:20px;
	vertical-align:middle;
}
input[type='radio'] {vertical-align:middle;}
input.datepicker {
	width:142px; padding-right: 30px;
	text-align: center;
}
.datepicker + img {
	margin-left:-30px;
	vertical-align:middle;
}
input.datepicker_custom {
	width:142px; padding-right: 30px;
	text-align: center;
}
.datepicker_custom + img {
	margin-left:-30px;
	vertical-align:middle;
}
input + label {
	display:inline-block;
	height:20px; margin-left:5px; line-height:20px;
	font-size:13px; color:inherit; vertical-align:middle; cursor:pointer
}
label + input {margin-left:20px; }
input + input {margin-left:3px;}

/*  */
input[type="checkbox"].chk_ty1 {
	position:absolute; z-index:-1000; left:-1000px;
	overflow: hidden; clip: rect(0 0 0 0);
	height:1px; width:1px; margin:-1px; padding:0;
	border:0;
}
input[type="checkbox"].chk_ty1 + label.chk_ty1_label {
	display:inline-block;
	padding-left:34px;height:24px; line-height:26px;
	vertical-align:middle; cursor:pointer;
	background-repeat:no-repeat; background-position: 0 0;
}
input[type="checkbox"].chk_ty1:checked + label.chk_ty1_label {background-position: 0 -30px;}
label.chk_ty1_label {
	background-image:url('../images/common/chk_ty.png');
	-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
}

/* select */
[class^='sel_ty'] {
	display:inline-block;
	position:relative;
	min-width:100px;
	vertical-align:top;
}
.sel_ty1 .sbHolder{
	position: relative;
	height: 34px;
	color:#666;
	border: solid 1px #e2e2e2;
}
.sel_ty1 .sbSelector{
	display: block;
	height: 34px; line-height: 34px; padding:0 8px;
	outline: none;
	overflow: hidden;
}
.sel_ty1 .sbToggle{
	display: block;
	position: absolute;	top: 0;	right: 0;
	width: 34px; height: 34px;
	outline: none;
	border-left:1px solid #e2e2e2;
	background:url('../images/common/common_sp.png') no-repeat 0 -40px;
}
.sel_ty1 .sbOptions{
	position: absolute; top: 34px; left: -1px;
	width: 100%; margin: 0; padding: 0;
	border: solid 1px #c6c6c6;
	background-color: #fff;
	z-index: 2;
	overflow-y: auto;
}
.sel_ty1 .sbOptions a{
	display: block;
	outline: none;
	height: 30px; line-height: 30px; padding:0 8px;
}
.sel_ty1 .sbOptions a:hover, .sel_ty1 .sbOptions a:focus, .sel_ty1 .sbOptions a.sbFocus{background-color: #f4f4f4;}
.sel_ty1 .sbOptions li.last a{ border-bottom: none;}
.sel_ty1 .sbOptions .sbDisabled{
	display: block;
	padding: 0 8px;
	color: #999;
}

.sel_ty2 .sbHolder{
	position: relative;
	height: 24px;
	font-size:12px;	color:#555; 
	background-color:#fff;
	border:1px solid #aeaeae;
}
.sel_ty2 .sbSelector{
	display: block;
	height: 24px; line-height: 24px; padding:0 8px;
	outline: none;
	overflow: hidden;
}
.sel_ty2 .sbToggle{
	display: block;
	position: absolute;	top: 0;	right: 0;
	width:24px; height:24px;
	outline: none;
	background:url('../images/common/common_sp.png') no-repeat -40px -40px;
}
.sel_ty2 .sbOptions{
	position: absolute; top: 24px; left: -1px;
	width: 100%; margin: 0; padding: 0;
	border: solid 1px #c6c6c6;
	background-color: #fff;
	z-index: 1;
	overflow-y: auto;
}
.sel_ty2 .sbOptions a{
	display: block;
	outline: none;
	height: 24px; line-height: 24px; padding:0 8px;
}
.sel_ty2 .sbOptions a:hover, .sel_ty2 .sbOptions a:focus, .sel_ty2 .sbOptions a.sbFocus{	background-color: #f4f4f4;}
.sel_ty2 .sbOptions li.last a{ border-bottom: none;}
.sel_ty2 .sbOptions .sbDisabled{
	display: block;
	padding: 0 8px;
	color: #999;
}

.sel_ty3 {width:310px;}
.sel_ty3 .sbHolder{
	position: relative;
	font-size:13px;	color:#666;
	background-color:#fff;
	border:1px solid #aeaeae;
}
.sel_ty3 .sbSelector{
	display: block;
	outline: none;
	padding:12px 42px 12px 10px;
	overflow: hidden;
}
.sel_ty3 .sbToggleOpen + .sbSelector {
	margin:-1px; margin-bottom:0;
	border:1px solid #f64a3e;
}
.sel_ty3 .sbToggle{
	display: block;
	position: absolute;	top: 0;	right: 0;
	width:42px; height:42px;
	outline: none;
	background:url('../images/common/common_sp.png') no-repeat -70px -40px;
}
.sel_ty3 .sbToggleOpen{
	background:url('../images/common/common_sp.png') no-repeat -112px -40px;
}
.sel_ty3 .sbOptions{
	position: absolute;left: -1px;
	width: 100%; margin: 0; padding: 0;
	max-width:100%;
	border: solid 1px #c7c7c7; border-top:0 none;
	background-color: #fff;
	z-index: 2;
	overflow-y: auto;
}
.sel_ty3 .sbOptions li {border-top:1px solid #ededed;}
.sel_ty3 .sbOptions a{
	display: block;
	outline: none;
	padding:12px 10px;
}
.sel_ty3 .sbOptions a:hover, .sel_ty3 .sbOptions a:focus, .sel_ty3 .sbOptions a.sbFocus{
	color:#fff;
	background-color: #fab6b1;
}
.sel_ty3 .sbOptions li.last a{ border-bottom: none;}
.sel_ty3 .sbOptions .sbDisabled{
	display: block;
	padding:12px 10px;
	color: #cbcbcb;
}

.sel_ty4 .sbHolder{
	position: relative;
	height: 32px;
	color:#666;
	border: solid 1px #e2e2e2;
	background-color: #fff;
}
.sel_ty4 .sbSelector{
	display: block;
	height: 32px; line-height: 32px; padding:0 8px;
	outline: none;
	overflow: hidden;
}
.sel_ty4 .sbToggle{
	display: block;
	position: absolute;	top: 0;	right: 0;
	width: 32px; height: 32px;
	outline: none;
	background:url('../images/common/common_sp.png') no-repeat 0 -40px;
}
.sel_ty4 .sbOptions{
	position: absolute; top: 32px; left: -1px;
	width: 100%; margin: 0; padding: 0;
	border: solid 1px #c6c6c6;
	background-color: #fff;
	z-index: 2;
	overflow-y: auto;
}
.sel_ty4 .sbOptions a{
	display: block;
	outline: none;
	height: 30px; line-height: 30px; padding:0 8px;
}
.sel_ty4 .sbOptions a:hover, .sel_ty4 .sbOptions a:focus, .sel_ty4 .sbOptions a.sbFocus{background-color: #f4f4f4;}
.sel_ty4 .sbOptions li.last a{ border-bottom: none;}
.sel_ty4 .sbOptions .sbDisabled{
	display: block;
	padding: 0 8px;
	color: #999;
}

/* table */
table {}
th {font-weight: normal;}
.tbl_primary {color:#555;}
.tbl_primary thead th {
	padding:15px 0;
	font-size: 13px; color:#777;
	background-color: #f8f8f8;
}
.tbl_primary tbody th {
	padding:15px 20px;
	text-align: left;
	border-bottom:1px solid #eaeaea;
	background-color: #f8f8f8;
}
.tbl_primary tbody td {
	padding:15px 30px;
	border-bottom:1px solid #eaeaea;
}
.tbl_primary tr:first-child th, .tbl_primary tr:first-child td {border-top:1px solid #b0b0b0;}

.tbl_list1 {
	font-size: 13px;
	border-top:2px solid #696969;
	border-bottom:1px solid #ebebeb;
}
.tbl_list1 thead th {
	height: 48px;
	color:#222;
	background-color: #f8f8f8;
}
.tbl_list1 tbody td {
	height: 48px;
	color:#555;
	border-top:1px solid #ebebeb;
}
.tbl_list1 tbody td.em {
	color:#f64a3e;
}
.tbl_list1 tbody td .big {font-size: 14px;}


.tbl_list2 {
	font-size: 13px;
	border-top:1px solid #ebebeb;
	border-bottom:1px solid #ebebeb;
	border-left:1px solid #ebebeb;
}
.tbl_list2 caption{font-size:14px;color:#2c2c2c;display:table-caption;position:relative;visibility:visible;width:100%;height:auto;text-align:left;margin-bottom:30px;}
.tbl_list2 thead th {
	height: 44px;
	color:#777;
	background-color: #f8f8f8;
	border-right:1px solid #ebebeb;
	vertical-align:middle;
}
.tbl_list2 thead tr th:first-child {border-left:0;}
.tbl_list2 tbody td {
	height: 49px;
	color:#555;
	border-top:1px solid #ebebeb;
	border-right:1px solid #ebebeb;
	vertical-align:middle;
}
.tbl_list2 tbody tr td:first-child {border-left:0;}

.tbl_list2 tbody td.subject {padding-left:17px;}
.tbl_list2 tbody td.subject a:hover{text-decoration:underline;}
.tbl_list2 tbody td .grey {color:#888;}
.tbl_list2 tbody td .btn_remove {color:#fff;display:inline-block;width:60px;height:30px;background-color:#2c2c2c;border-radius:3px;text-align:center;line-height:30px;}


.tbl_list_view {
	border-top:2px solid #696969;
	font-size: 13px;
}
.tbl_list_view dt {
	position: relative;
	padding:0 20px; line-height: 40px;
	color:#222;
}
.tbl_list_view dt .date {
	display: block;
	position: absolute; right:20px; top:0;
	line-height:40px;
	text-align: right;
}
.tbl_list_view dd {
	min-height:300px; padding:20px; line-height: 22px;
	border-top:1px solid #ebebeb; border-bottom:1px solid #ebebeb; 
}

.tbl_view {
	font-size: 13px;
	border-right:1px solid #ebebeb; border-top:1px solid #ebebeb;}
.tbl_view thead th {
	height: 45px;
	color:#222;
	background-color: #f8f8f8;
	border-left:1px solid #ebebeb; border-bottom:1px solid #ebebeb;
}
.tbl_view tbody th {
	color:#222; text-align: left;
	background-color: #f8f8f8;
}
.tbl_view tbody td {color:#555;}
.tbl_view tbody th, .tbl_view tbody td {
	height: 45px; padding:7px 10px;
	border-left:1px solid #ebebeb; border-bottom:1px solid #ebebeb;
}
.tbl_view + .tbl_view {margin-top:20px;}

.tbl_view2 {
	font-size: 13px;
	border-top:2px solid #696969;
}
.tbl_view2 tbody th {
	padding:7px 10px;
	color:#222; text-align: left;
	border-bottom:1px solid #ebebeb;
	background-color: #f8f8f8;
}
.tbl_view2 tbody td {
	height: 26px; padding:7px 10px;
	border-bottom:1px solid #ebebeb;
}

.tbl_view3 {
	font-size: 13px;
	border-top:2px solid #696969;
}
.tbl_view3 li {
	padding:0 20px; line-height: 48px;
	border-bottom:1px solid #ebebeb;
}
.tbl_view3 li b, .tbl_view3 li span {display: inline-block;}
.tbl_view3 .tit {color:#222;}
.tbl_view3 .txt {color:#555;}
.tbl_view3 .red {color: #f64a3e}
.tbl_view3 dl {
	line-height: 18px;
	padding:30px 20px 30px 40px;
}
.tbl_view3 .q, .tbl_view3 .a {line-height: 18px;}
.tbl_view3 .q {background-color: #f8f8f8}
.tbl_view3 .q dt {
	position: relative;
	font-size: 14px; color:#222;
}
.tbl_view3 .q dt:before {
	display: block; content: 'Q';
	position: absolute; left:-40px; top:0;
	width:10px;
	font-weight: bold;
}
.tbl_view3 .q dd {
	margin-top:20px;
	color:#555;
}
.tbl_view3 .a {background-color: #f0f0f0}
.tbl_view3 .a > div {
	position: relative;
	padding:30px 20px 30px 40px;
}
.tbl_view3 .a > div:before {
	display: block; content: 'A';
	position: absolute; left:0; top:30px;
	width:10px; 
	color:#f64a3e; font-weight: bold;
}

.tbl_cart {
	font-size: 13px;
	border-top:2px solid #818181; border-bottom:1px solid #696969;
}
.tbl_cart.btm_no_line {border-bottom:0 none;}
.tbl_cart thead th {
	height:44px;
	color:#222;
	border-bottom:1px solid #ebebeb;
}
.tbl_cart tbody td {
	height: 130px;
	color:#333;
	border-top:1px solid #ebebeb; border-left:1px solid #ebebeb;
}
.tbl_cart.tbl_sample tbody td{height:90px;}
.tbl_cart tbody td:first-child, .tbl_cart tbody td:first-child + td {border-left:0 none;}
.tbl_cart tbody .price {font-family: 'NanumBarunGothicB';}
.tbl_cart tbody .price b {font-size:15px;}
.tbl_cart tbody .item .outer {
	position: relative;
	padding-left:110px;min-height:90px;
}
.tbl_cart tbody .thum {
	position: absolute; left:0; top:50%;
	width:90px; height: 90px; margin-top:-45px;
	border:1px solid #ededed;
	-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
}
.tbl_cart tbody .thum img {width:100%; height:100%;}
.tbl_cart tbody .item_txt {line-height: 24px; padding-right:20px;}
.tbl_cart tbody .item_txt p + p {color:#555;}
.tbl_cart tbody .item_txt .option {
	line-height: 18px;
	color:#6c99d2;
}
.tbl_cart tbody .item_txt .option + .option {margin-top: 0}
.linetop {
	padding-top:5px;
	border-top:1px solid #e7e7e7;
}
.tbl_cart .start td {border-top:1px solid #696969;}
.tbl_cart tfoot td {
	padding:10px; line-height: 22px;
	background-color: #eee;
}
.tbl_cart tfoot td .txt {color:#222;}
.tbl_cart tfoot td em {
	display: inline-block;
	margin-left:5px;
	color:#275ba0;
}
.tbl_cart tfoot td button {margin-left:10px;}
.tbl_cart tfoot td button + button {margin-left:5px;}
.tbl_cart tfoot .reason th {}
.tbl_cart tfoot .reason td {
	position:relative;
	height: 90px; vertical-align: top;
}
.tbl_cart tfoot .reason td textarea {
	width:100%; height: 90px;
}
.tbl_cart tfoot .reason th, .tbl_cart tfoot .reason td {border-bottom:1px solid #ebebeb;}
.tbl_cart tfoot .reason th {
	padding:10px;
	text-align: left; color:#222;
	background-color: #f8f8f8;
}
.tbl_cart tfoot.bg_no td {
	border-top:1px solid #ebebeb; border-bottom:1px solid #ebebeb;
	background-color: #fff;
}
.tbl_cart tfoot.bg_no.line_no td {border-bottom:0 none;}
.tbl_cart tfoot .reason td {background-color: #fff;}
.tbl_cart tfoot .reason td button {
	position: absolute; right:10px; top:10px;
	width:90px; height: 90px;
	color:#fff;
	background-color:#878787;
}

.tbl_cart.type2 tbody td.tblc_option{padding:0;}
.tblc_option p{padding:15px 10px;white-space: nowrap;}
.tblc_option p + p{border-top: 1px solid #ebebeb;}
.tbl_cart.type2 tbody td .tblc_option:first-child{border-top:0;}

/*tbl_cart type2*/
.tbl_cart.type2 tbody td{height:auto;padding-top:20px;padding-bottom: 20px;}

td p + p, td .division + .division {margin-top:2px;}
.bold {font-family: 'NanumBarunGothicB'}
.price_big b {font-size: 15px; vertical-align: middle;}

/* button */
[class^='btn_bg_ty'] {
	height:56px; line-height: 56px; padding:0 20px;
	font-family: 'NanumBarunGothicB'; font-size: 18px; color:#fff;
	-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
}
.btn_bg_ty1 {background-color: #7f7f7f;}
.btn_bg_ty2 {background-color: #4a4a4a;}
.btn_bg_ty3 {background-color: #f64a3e;}
.btn_bg_ty4 {background-color: #c3c3c3;}
[class^='btn_big_ty'] {
	min-width:110px; height:38px; line-height: 38px; padding:0 8px;
	font-family: 'NanumBarunGothicB'; font-size: 13px;
	-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
}
.btn_big_ty1 {
	color:#444;
	border:1px solid #525252;
	background-color: #fff;
}
.btn_big_ty2 {
	color:#fff;
	background-color: #516f97;
}

[class^='btn_bg_mid_ty'] {
	min-width:140px; height:50px; line-height: 50px; padding:0 20px;
	font-family: 'NanumBarunGothicB'; font-size: 14px; color:#fff;
	-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
}
.btn_bg_mid_ty1 {background-color: #f64a3e;}
.btn_bg_mid_ty2 {background-color: #4a4a4a;}
.btn_bg_mid_ty3 {background-color: #bababa;}

[class^='btn_bg_small_ty'] {
	min-width:42px; height:32px; line-height: 32px; padding:0 8px;
	-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
}
.btn_bg_small_ty1 {
	font-size: 12px; color:#fff;
	background-color: #5e5e5e;
}

[class^='btn_line_ty'] {
	min-width:110px; height:40px; line-height: 40px; padding:0 25px;
	font-family: 'NanumBarunGothicB'; font-size: 13px;
	-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
}
.btn_line_ty1 {
	color:#f64a3e;
	border:1px solid #f64a3e;
}

.btn_ty1 {
	min-width:140px; height:40px;
	font-size:13px; color:#fff;
	background-color: #707070;
}
.btn_ty2, .btn_ty3 {
	min-width:120px; height:42px; line-height: 42px;
	font-size:13px; color:#fff;
	background-color: #4d4d4d;
}
.btn_ty2 {background-color: #f64b3f;}
.btn_ty3 {background-color: #4a4a4a;}
.btn_ty4 {
	width:84px; height: 30px; 
	font-size: 13px; color:#fff;
	background-color: #b5b5b5;
}
.btn_ty5 {
	width:120px; height: 42px; 
	font-size: 13px; color:#444;
	border:1px solid #525252;
}

[class^='btn_line_big_ty'] {
	min-width:140px; height:50px; line-height: 50px; padding:0 20px;
	font-family: 'NanumBarunGothicB'; font-size: 14px; text-align: center;
	-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
}
.btn_line_big_ty1 {
	color:#444;
	border:1px solid #525252;
}

[class^='btn_line_mid_ty'] {
	min-width:100px; height:30px; line-height: 30px; padding:0 8px;
	font-size: 11px;
	background-color: #fff;
	-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
}
.btn_line_mid_ty1 {
	color:#777;
	border:1px solid #929292;
}
.btn_line_mid_ty2 {
	font-size:13px; color:#555;
	border:1px solid #909090;
}
.btn_line_mid_ty3 {
	min-width:106px; height:32px; line-height: 32px; padding:0 8px;
	color:#222;
	border:1px solid #494949;
}
.btn_line_mid_ty3:disabled {
	color:#bcbcbc;
	border:1px solid #bbbbbb;
}
.btn_line_mid_ty4 {
	min-width:72px; height:26px; line-height: 26px; padding:0 8px;
	color:#222;
	border:1px solid #494949;
	background-color: #fff;
}
.btn_line_mid_ty5 {
	min-width:82px; height:26px; line-height: 26px; padding:0 8px;
	color:#666;
	border:1px solid #9c9c9c;
	background-color: #fff;
}
.btn_line_mid_ty6 {
	min-width:70px; height:26px; line-height: 26px; padding:0 8px;
	color:#222;
	border:1px solid #525252;
	background-color: #fff;
}
.btn_line_mid_ty7 {
	min-width:106px; height:32px; line-height: 32px; padding:0 8px;
	color:#222;
	border:1px solid #f64a3e;
}


[class^='btn_line_small_ty'] {
	min-width:40px; height:26px; line-height: 26px; padding:0 8px;
	font-size: 11px;
	background-color: #fff;
	-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
}
.btn_line_small_ty1 {
	color:#222;
	border:1px solid #494949;
}
.btn_line_small_ty2 {
	color:#f64a3e;
	border:1px solid #f64a3e;
}

[class^='btn_tbl_ty'] {
	min-width:40px; height:26px; line-height: 26px; padding:0 8px; margin:1px 0;
	font-size: 11px;
	background-color: #fff;
	-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
}
.btn_tbl_ty1 {
	color:#222;
	border:1px solid #494949;
}
.btn_tbl_ty2 {
	color:#9c9c9c;
	border:1px solid #9c9c9c;
}
.btn_tbl_ty3 {
	width:60px;
	color:#516f97;
	border:1px solid #516f97;
}
.btn_tbl_ty4 {
	width:60px;
	color:#fff;
	background-color: #f64a3e;
}
.btn_tbl_ty5 {
	width:60px;
	color:#f64a3e;
	border:1px solid #f64a3e;
	background-color: #fff;
}
.btn_tbl_ty6 {
	width:60px;
	color:#fff;
	background-color: #5e5e5e;
}
.btn_tbl_ty7 {
	width:110px;
	color:#db703c;
	border:1px solid #db703c;
}
.btn_tbl_ty9 {
	width:60px;
	color:#fff;
	background-color: #a49076;
}
.btn_tbl_ty10 {
	width:40px;
	color:#fff;
	background-color: #bbc660;
}
.btn_tbl_ty11{
	height:65px;
	color:#fff;
	font-size:18px;
	background-color:#f54e42;
	width:100%;
}
.btn_jindex{
	width:100%;
	background-color:#ededed;
	height:34px;
	color:#444;
	font-size:12px;
}
.btn_jindex strong{
	font-weight:normal;
	vertical-align:middle;
}
.btn_jindex span{
	color:#ff6e42;
	font-size:20px;
	margin-left:7px;
	display:inline-block;
	vertical-align:middle;position:relative;top:1px;
}
.plural_btn {
	width:16px; height: 16px;
	background: url('../images/icon/icon_plural.png') no-repeat 0 0;
}
.plural_view {
	display: none;
	position: absolute; left:20px; top:26px;
	width:300px; height: 130px;
	border:1px solid #2c2c2c;
	background-color: #fff;
}
.plural_view:before {
	display: block; content: '';
	position: absolute; left:40px; top:-10px;
	width:16px; height: 16px;
	background: url('../images/icon/plural_arrow.png') no-repeat 0 0;
}
.plural_view .plural_tit {
	display: block;
	line-height: 40px; padding:0 13px;
	font-size: 14px; color:#222;
	border-bottom: 1px solid #dbdbdb;
}
.plural_view .plural_txt {
	display: block;
	padding:20px 13px;
	font-size: 13px; color:#666;

}
.plural_btn:hover + .plural_view {display: block}

.btn_del {
	width:16px; height:14px; 
	text-indent: -999em; font-size: 0;
	background:url('../images/sub/sub_sp.png') no-repeat -100px -20px;
}
.btn_option_del {
	width:14px; height:14px; margin-left:5px;
	text-indent: -999em; font-size: 0;
	background:url('../images/common/common_sp.png') no-repeat -20px -100px;
}
.btn_area .half button {width:229px;}
.btn_area .half button + button {margin-left:1px;}
.btn_area .half + button {margin-top:5px;}

.btn_area {position: relative;}
.btn_area .left {position: absolute; left:0; top:0;}
.btn_area .right {position: absolute; right:0; top:0;}


.variations > div {
	float:left;
	width:118px;
	border:1px solid #dadada;
}
.variations button {
	float:left;
	width:38px; height:38px; line-height: 38px;
	font-size: 0; text-indent: -999em;
	background:#f4f4f4 url('../images/sub/sub_sp.png') no-repeat;
}
.variations input {
	float:left;
	height:38px; line-height: 36px;
}
.variations .btn_minus {background-position: 0px -20px;}
.variations .btn_plus {background-position: -50px -20px;}
.variations .quantity {
	width:42px; padding:0;
	font-size:12px; color:#333; text-align: center;
	border-left:1px solid #d9d9d9; border-right:1px solid #d9d9d9; border-top:0 none; border-bottom:0 none;
	background-color:#fff;
}
.variations .amount {
	float:left;
	width:120px; height:40px; line-height: 40px; margin-left:7px; padding:0;
	font-size: 14px; color:#333; text-align: center;
	border:1px solid #3c3c3c;
}

/* slide */
.slide .item {float:left;}

.slide_outer {}
.top_banner_box{position: relative;
	height: 80px;
	background-color: #97AFD1;
	overflow: hidden;}
.top_banner_center{width:980px;margin:0 auto}

.top_banner .ssg_item {text-align: center;}
.slide_outer .btn_top_banner_closed {
	position: absolute; right:50px; top:0%; margin-top:17px;
	width:35px; height:35px;
	font-size:0; text-indent: -999em;
	background: url('../images/btn/btn_top_banner_closed.png') no-repeat 0 0;
}

/* paging */
.paging {
	position: relative;
	margin-top:30px;
	text-align:center;
}
.paging a {
	position:relative;
	display:inline-block;
	width:35px; height:35px; line-height:35px;
	margin-right:3px;
	vertical-align:middle;
	text-decoration:none;
	font-size:14px; color:#666;
	border:1px solid #e9e9e9;
	-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
}
.paging .on {
	cursor:default;
	color:#fff;
	border: 0 none;
	background-color:#f64a3e;
}
.paging .first, .paging .prev, .paging .next, .paging .last {
	width:20px;
	font-size:0;
	overflow:hidden;
	border:0 none;
}
.paging .first:before, .paging .prev:before, .paging .next:before, .paging .last:before {
	display:block; content:'';
	width:20px; height:35px; line-height:35px;
	position:absolute; left:-1px; top:0;
	-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
	background: url('../images/common/common_sp.png') no-repeat;
}
.paging .first:before {background-position: -230px 0;}
.paging .prev:before {background-position: -260px 0;}
.paging .next:before {background-position: -290px 0;}
.paging .last:before {background-position: -320px 0;}
.paging > button {position: absolute; right:0; top:0;}

/* referance */
.ref_ty1 {font-size:13px; color:#516f97}
.ref_ty1 + table {margin-top:10px;}
.ref_ty2 {
	margin-top:-10px; margin-bottom:20px;
	border:1px solid #d9d9d9 !important;
	background-color: #f4f4f4;
}
.ref_ty2 li {
	padding:0 10px;
	font-size: 13px; color:#666;
}
.ref_ty2 li + li {margin-top: 5px !important;}
.ref_ty3 {padding-left: 8px; text-indent: -8px;}

/* tab common */
.tab_tit.col5 li {width:20%;}
.tab_tit.col3 li {width:33.3%;}
.click [class^='tab_cnt'] {display: none;}
[class^='tab_ty'] .tab_tit li {float:left;}
[class^='tab_ty'] .tab_tit li a {display: block;}

/* tab_ty1 */
.tab_ty1 li a {
	height: 50px; line-height: 50px;
	font-size:14px; text-align: center;
	background-color: #ebebeb;
	border:1px solid #dcdcdc; border-left:0 none;
}
.tab_ty1 li:first-child a {border-left:1px solid #dcdcdc;}
.tab_ty1 li.on a {
	color:#fff;
	border:1px solid #2c2c2c;
	background-color: #2c2c2c;
}

/* tab_ty2 */
.tab_ty2 .tab_tit {padding-bottom:20px;}
.tab_ty2 .tab_tit.col5 li.tab_tit5 ~ li a {border-top: 0 none}
.tab_ty2 .tab_tit.col5 li.last a {border-right: 1px solid #e3e3e3;}

.tab_ty2 .tab_tit a {
	height: 46px; line-height: 46px;
	font-size: 14px; text-align: center;
	border: 1px solid #e3e3e3; border-right:0 none;
	background-color: #fff;
}
.tab_ty2 .tab_tit .on a {
	position: relative;
	color:#fff; font-family: 'NanumBarunGothicB';
	background-color: #f64a3e;
}
.tab_ty2 .tab_tit .on + li a {border-left: 0 none;}
[class^='tab_ty'] [class^='tab_cnt'] h3 {
	padding-bottom:10px; padding-top:30px;
	font-size: 18px; color:#222;
	border-bottom:2px solid #696969;
}
.tab_ty2 .tab_cnt1 h3 {padding-top:0;}

/* tab_ty3 */
.tab_ty3 .tab_tit {padding-bottom:20px;}

.tab_ty3 .tab_tit.col5 li.tab_tit5 ~ li a {border-top: 0 none}
.tab_ty3 .tab_tit.col5 li.last a {border-right: 1px solid #e3e3e3;}
.tab_ty3 .tab_tit a {
	height: 46px; line-height: 46px;
	font-size: 14px; text-align: center;
	border: 1px solid #dcdcdc; border-left:0 none;
	background-color: #fff;
}
.tab_ty3 .tab_tit li:first-child a {border-left:1px solid #dcdcdc;}
.tab_ty3 .tab_tit .on a {
	position: relative;
	color:#fff; font-family: 'NanumBarunGothicB';
	background-color: #2c2c2c;
}
.tab_ty3 li.on a {
	color:#fff;
	border:1px solid #2c2c2c !important;
	background-color: #2c2c2c;
}
.tab_ty3 .tab_tit .on + li a {border-left: 0 none;}

/* tab_ty4 */
.tab_ty4 .tab_tit.col5 li.last a {border-right: 1px solid #e3e3e3;}
.tab_ty4 .tab_tit {border-top:2px solid #f45e53;}
.tab_ty4 .tab_tit a {
	height: 46px; line-height: 46px;
	font-size: 14px; text-align: center; color:#565656;
	border: 1px solid #dcdcdc; border-left:0 none; border-top:0 none;
	background-color: #f8f8f8;
}
.tab_ty4 .tab_tit li:first-child a {border-left:1px solid #dcdcdc;}
.tab_ty4 .tab_tit .on a {
	color:#222;
	border-bottom:1px solid #fff;
	background-color: #fff;
}
.tab_ty4 .tab_tit .on + li a {border-left: 0 none;}

/* tab_ty5 */
.tab_ty5 .tab_tit.col3 li.last a {border-right: 1px solid #e3e3e3;}
.tab_ty5 .tab_tit a {
	height: 46px; line-height: 46px;
	font-size: 14px; text-align: center; color:#747474;
	border: 1px solid #dcdcdc; border-left:0 none;
	background-color: #fff;
}
.tab_ty5 .tab_tit li:first-child a {border-left:1px solid #dcdcdc;}
.tab_ty5 .tab_tit .on a {
	color:#f64a3e;
	border:1px solid #f64a3e;
}
.tab_ty5 .tab_tit li.on:first-child a {border-left:1px solid #f64a3e;}
.tab_ty5 .tab_tit li.last.on a {border-right:1px solid #f64a3e;}
.tab_ty5 .tab_tit .on + li a {border-left: 0 none;}
.tab_ty5 [class^="tab_cnt"] {padding-top:20px;}

/* div_tab_ty */
.div_tab_ty3 .tab_tit li {
	float:left;
	width:50%;
}
.div_tab_ty3 .tab_tit li a {
	display: block;
	line-height: 50px;
	font-size: 14px; color:#777; text-align: center;
	border:1px solid #dbdbdb; border-bottom:2px solid #056dae;
}
.div_tab_ty3 .tab_tit li.on a {
	color:#056dae;
	border:2px solid #056dae; border-bottom:2px solid #fff;
}
.divtab_ty3 [class^="tab_cnt"] {display: none  }

.div_tab_ty4 .tab_tit {margin:0 -2px;}
.div_tab_ty4 .tab_tit li {
	float:left;
	width:33.3%;
}
.div_tab_ty4 .tab_tit li a {
	display: block;
	line-height: 50px;
	font-size: 14px; color:#fff; text-align: center;
	border-left:2px solid #fff; border-right:2px solid #fff;
	background-color: #bfcad1;
}
.div_tab_ty4 .tab_tit li.on a {
	background-color: #056dae;
}
.div_tab_ty4 [class^="tab_cnt"] {display: none  }
 
/*공지팝업 공통*/
.popup_notice{position:absolute;z-index:50;background-color:#fff;}
.popup_notice .popup_nbox{overflow-y:auto;overflow-x:hidden;-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
.popup_notice.type1 .tit{font-weight:bold;}
.popup_notice .popup_nbtn{padding:10px 15px;background-color:#1f263c;}
.popup_notice .popup_nbtn .ppn_cookie{float:left;font-size:13px;color:#ddd;margin-top:3px;}
.popup_notice .popup_nbtn .ppn_cookie input[type="checkbox"]{margin-right:3px;position:relative;top:-1px;}
.popup_notice .popup_nbtn .ppn_close{float:right;color:#fff;font-size:13px;font-weight:bold;background-color:#455177;padding:2px 10px;}

/*공지팝업 type1*/
.popup_notice.type1{border:3px solid #1f263c;}
.popup_notice.type1 .tit{background-color:#2d3447;border-left:30px solid #fff;border-right:30px solid #fff;border-top:10px solid #fff;font-size:16px;width:100%;padding:30px;color:#fff;-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;position:relative;}
.popup_notice.type1 .tit:before{content:"";display:block;width:15px;height:30px;position:absolute;left:-30px;bottom:0;background-color:#e9e9e9;border-left:15px solid #fff;}
.popup_notice.type1 .tit:after{content:"";display:block;width:15px;height:30px;position:absolute;right:-30px;bottom:0;background-color:#e9e9e9;border-right:15px solid #fff;}
.popup_notice.type1 .cnt{color:#222;font-size:14px;font-weight:bold;background-color:#e9e9e9;padding:20px;border-left:15px solid #fff;border-right:15px solid #fff;border-bottom:15px solid #fff;width:100%;line-height:24px;-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}

/*공지팝업 type2*/
.popup_notice.type2{}
.popup_notice.type2 .popup_nbox{padding:18px 18px 0;background-image:url('../images/bg/popup_notice_type2.jpg');background-size:100% 100%;}
.popup_notice.type2 .popup_wp{padding:18px;margin-bottom:18px;background-color:#fff;}

.popup_notice.type2 .tit{position:relative;font-size:18px;color:#222;font-weight:700;;padding:10px 22px 8px;margin-bottom:20px;border-bottom:2px solid #265491;-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;background-color:#fff;text-align:center;}
.popup_notice.type2 .cnt{color:#222;font-size:14px;font-weight:bold;width:100%;line-height:24px;-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}

/*공지팝업 type3*/
.popup_notice.type3{text-align:center;}
.popup_notice.type3 .popup_nbox{padding:28px 18px 0;
background: rgba(255,113,85,1);
background: -moz-linear-gradient(top, rgba(255,113,85,1) 0%, rgba(255,113,85,1) 30%, rgba(165,149,135,1) 70%, rgba(165,149,135,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,113,85,1)), color-stop(30%, rgba(255,113,85,1)), color-stop(70%, rgba(165,149,135,1)), color-stop(100%, rgba(165,149,135,1)));
background: -webkit-linear-gradient(top, rgba(255,113,85,1) 0%, rgba(255,113,85,1) 30%, rgba(165,149,135,1) 70%, rgba(165,149,135,1) 100%);
background: -o-linear-gradient(top, rgba(255,113,85,1) 0%, rgba(255,113,85,1) 30%, rgba(165,149,135,1) 70%, rgba(165,149,135,1) 100%);
background: -ms-linear-gradient(top, rgba(255,113,85,1) 0%, rgba(255,113,85,1) 30%, rgba(165,149,135,1) 70%, rgba(165,149,135,1) 100%);
background: linear-gradient(to bottom, rgba(255,113,85,1) 0%, rgba(255,113,85,1) 30%, rgba(165,149,135,1) 70%, rgba(165,149,135,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7155', endColorstr='#a59587', GradientType=0 );
}
.popup_notice.type3 .popup_wp{margin-bottom:28px;padding-bottom:14px;background-color:#fff;}

.popup_notice.type3 .tit{position:relative;display:inline-block;font-size:18px;color:#222;font-weight:700;padding:30px 33px 5px;-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;background-color:#fff;text-align:center;}
.popup_notice.type3 .tit span{position:relative;z-index:2;}
.popup_notice.type3 .tit:before{content:"";display:block;position:absolute;left:0;bottom:0;height:12px;width:100%;background-color:#ffe589;z-index:1;}
.popup_notice.type3 .cnt{color:#222;padding:28px;background-color:#fff;margin-left:-16px;margin-right:-16px;font-size:14px;font-weight:bold;line-height:24px;-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;text-align:left;}
.popup_notice.type3 .popup_nbtn{background-color:#4d4a49;}
.popup_notice.type3 .popup_nbtn .ppn_close{background-color:#8d8885;}

/**/
.scroll {
	min-height: 500px; padding:15px 20px;
	border:1px solid #ebebeb;
	overflow-y: auto;
}


/* tab_black */
.tab_black .tab_tit li {float:left;}
.tab_black .col2 li {width:50%;}
.tab_black .col4 li {width:25%;}
.tab_black .tab_tit a {
	display: block;
	height: 54px; line-height: 54px;
	border: 1px solid #777; border-right:0 none;
	font-size: 14px; text-align: center;
}
.tab_black .tab_tit li.last a {border-right: 1px solid #777;}
.tab_black .tab_tit .on a {
	color:#fff;
	background-color: #2c2c2c;
}
.tab_black .tab_tit .on + li a {border-left: 0 none;}

.tab_black [class^='tab_cnt'] {padding-top:30px;}


/* title */
.tit_ty1 {
	/*position: relative;*/
	padding-bottom:10px;
	font-size: 18px; color:#222;
}
/*.tit_ty1:before {
	display: block; content: '';
	position: absolute; left:0; top:-5px;
	width:36px; height: 2px;
	background-color: #f64a3e;
}*/
.tit_ty2 {
	padding-bottom:10px;
	font-size: 20px; color:#000;
}
.tit_outer {position: relative;}
.tit_outer .right {position: absolute; right:0; bottom:10px;}

.tit_h3 {
	margin:30px 0 5px;
	font-size: 16px; color:#222;
}


/* search */
.search_ty1	{font-size: 13px;margin-bottom:20px;}
.search_ty1 ul	{border:1px solid #ededed;}
.search_ty1 li {
	height:46px; line-height: 46px;
	background-color: #f8f8f8;
}
.search_ty1 li + li {border-top:1px solid #ededed;}
.search_ty1 dl {}
.search_ty1 dt {
	float:left;
	width:80px; padding:0 10px;
	color:#222;
}
.search_ty1 dd {}
.search_ty1 dd .sel_ty4 {vertical-align:middle;}
.search_ty1 dd .sel_ty4 li{line-height:auto;height:auto;}

.search_ty1 .term {
	display: inline-block;
	margin-right:3px;
}
.search_ty1 .term button {
	width:74px; height:32px;
	color:#555;
	border:1px solid #ededed;
	background-color: #fff;
}
.search_ty1 .term button + button {
	margin-left:-2px;
	border-left:0 none;
}
.search_ty1 .term button.on {
	color:#fff;
	background-color: #767676;
	border:1px solid #616161;
}
.search_ty1 .division {
	display: inline-block;
	width:27px; height: 32px; line-height: 32px;
	text-align: center;
}
.search_ty1 [class^='sel_ty'] + input {margin-left:3px;}
.search_ty1 .btn_area {margin-top:10px;}
.search_ty1 + .tbl_cart {margin-top:20px;}

/* goods list */
/* goods list common */
.goods_list li:hover .item{text-decoration:underline;}
[class^="list_ty"] li {float:left;}
[class^="list_ty"] li:hover .item{text-decoration:underline;}
[class^="list_ty"].col3 li {width:33.3%;}
[class^="list_ty"].col4 li {width:25%;}
[class^="list_ty"] a, [class^="list_ty"] span, .goods_list a, .goods_list span {display: block;}
[class^="list_ty"] a {-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
[class^="list_ty"] .img {position: relative;}
[class^="list_ty"] .icon, .goods_list .icon {padding-top:12px;}
[class^="list_ty"] .icon + .item, .goods_list .icon + .item {padding-top:10px;}
[class^="list_ty"] .item, .goods_list .item {
	height: 36px; padding-top:15px; line-height: 18px;
	font-size:15px; color:#222;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;
}
[class^="list_ty"] .buyer_price, .goods_list .buyer_price {
	margin-top:4px;
	height:18px;
	line-height: 18px;
	font-size: 12px; color:#8b8b8b; text-decoration: line-through;
}
[class^="list_ty"] .selling_price, .goods_list .selling_price {font-size:14px; color:#222;}
[class^="list_ty"] .selling_price b, .goods_list .selling_price b {font-family: 'NanumSquareB'; font-size:18px;}

/* list_ty1 */
.list_ty1 {border-left:1px solid #ededed;}
.list_ty1 li a {
	padding:22px;
	border:1px solid #ededed; border-left:0 none; border-top:0 none;
}

/* list_ty2 */
.list_ty2 {
	border-left:1px solid #e1e1e1; border-top:1px solid #e1e1e1;
	background-color: #fff;
}
.list_ty2 li a {
	min-height: 395px; padding:22px 22px 0 22px;
	border:1px solid #e1e1e1; border-left:0 none; border-top:0 none;
}

/* list_ty3 */
.list_ty3 {margin:0 -10px;}
.list_ty3 li a {
	min-height: 470px; padding:10px 10px 0 10px; margin:20px 10px 0;
	border:2px solid #f3f3f5;
	background-color: #f3f3f5;
}
.list_ty3 li a:hover {border:2px solid #2c2c2c;}

/* list_ty4 */
.list_ty4 {margin:-20px 0 -10px;}
.list_ty4 li a {
	min-height: 289px; margin:20px 10px 0;
	border:1px solid #eaeaea;
}
.list_ty4 li a .txt {
	font-size:14px; line-height: 60px; text-align: center; color:#222m;
	border-top:1px solid #eaeaea;
}


/* accordion */
.accordion {}
.accordion dt {
	position: relative;
	line-height: 46px; padding:0 60px 0 70px;
	border-top:1px solid #ebebeb; border-bottom:1px solid #ebebeb;
}
.accordion dt a {display: block;}
.accordion dt a:before, .accordion dt a:after {
	display: block;
	position: absolute; top:0;
	line-height:46px;
}
.accordion dt a:before{
	content: 'Q';
	left:0;
	width:70px;
	font-family: 'NanumSquareB'; font-size: 15px; color:#000; text-align: center;
}
.accordion dt a:after{
	content: '';
	right:0;
	width:50px; height: 48px;
	background: url('../images/common/common_sp.png') no-repeat -65px -37px;
}
.accordion dd {
	display: none;
	position: relative;
	padding:30px 60px 30px 70px;
	border-bottom:1px solid #999;
	background-color: #f8f8f8;
}
.accordion dd:before {
	display: block; content: 'A';
	position: absolute; top:30px; left:0;
	width:70px;
	font-family: 'NanumSquareB'; font-size: 15px; color:#f64a3e; text-align: center;
}
.accordion .on dt {
	border-bottom:0 none;
}
.accordion .on dt a:after{
	background-position: -108px -37px;
}
.accordion .on dd {
	border-top:1px solid #999;
	display: block;
}
.accordion li + li dt {border-top:0 none;}

/* list cart */
 [class^="list_ty"] .list_hover, .goods_list .list_hover {
	display: none;
	position: absolute; left:0; top:50%;
	width:100%; margin-top:-20px;
	text-align: center;
	z-index: 10;
}
[class^="list_ty"] a:hover .list_hover, .goods_list a:hover .list_hover {display: block;}
.goods_list a:hover .img {position: relative;}
[class^="list_ty"] a:hover .bg, .goods_list a:hover .bg {
	display: block;
	position: absolute; left:0; top:0;
	width:100%; height: 100%;
	background:transparent;
	background-color:rgba(255,255,255,0.6);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr=#ccffffff,endColorStr=#ccffffff)";
	zoom:1;
	z-index:2;
}
.good_price a:hover .bg {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	behavior: url(PIE.htc);
}
.list_hover span {
	display: inline-block !important;
	width:34px; height:34px;
	text-indent: -999em; font-size:0;
	background-image: url('../images/common/common_sp.png');
	background-repeat: no-repeat;
}
.list_hover .zoom {background-position: 0 -140px;}
.list_hover .cart {background-position: -38px -140px;}
.list_hover .zoom:hover {background-position: 0 -180px;}
.list_hover .cart:hover {background-position: -38px -180px;}

.pop_bg{display:none;z-index:50;position:fixed;width:100%;height:100%;left:0;top:0;background-image:url('../images/bg/popup_bgw.png');overflow-y:auto;
text-align:center}
.pop_list_hover {
	display: none;
	z-index:300;
	display:inline-block;vertical-align:middle;
	position:relative;
}
.pop_list_hover .pop_inner {
	width:980px; margin-top:50px;
	border:2px solid #333;
	background-color: #fff;
	-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
}
.pop_list_hover .pop_inner > a {
	display: block;
	padding:0 20px; line-height: 52px;
	font-size: 15px; color:#333; text-align: right;
	background-color: #ebebeb;
}
.pop_list_hover .pop_inner .product_view {
	padding:0 20px;
	overflow-y: auto;
	border-top: 0 none;
}

.pop_list_hover .product_view .top:before {width:0;}
.pop_list_hover .product_view .top {border-bottom: 0 none;}
.pop_list_hover .product_view .top .left {padding-right:12px;}
.pop_list_hover .product_view .top .right {padding-left:12px;}
.pop_list_hover .product_view .top .right dt {width:130px;}
.pop_list_hover .btn_area .half button {width:49.3%;}
.pop_list_hover .closed {
	position: absolute; right:0;top:0;
	text-indent: -999em; font-size: 0;
	width:34px; height: 34px;
	background: url('../images/common/pop_list_hover_closed.png') no-repeat 0 0;
}
.popup_align{display:inline-block;width:0;height:100%;vertical-align:middle}

/* join */
.join {padding:0 50px;}
.join_inner [class^="tab_cnt"] {padding-top:20px;}
.join_inner .agree_all, .join_inner dt {
	position: relative;
	padding-right:100px;
	font-size: 14px; color: #222;
}
.join_inner .agree_all .right, .join_inner dt .right {
	position:absolute; right:0; top:50%;
	margin-top:-17px;
}
.join_inner .agree_all {
	margin-bottom: 20px; padding-bottom:20px;
	border-bottom:1px solid #d6d6d6;
}
.join_inner dd {margin:15px 0 20px;}
.join_inner .agree_scroll {
	height: 100px; overflow-y: auto; padding:10px;
	border:1px solid #e5e5e5;
	background-color: #f8f8f8;
}
.join_inner .ref {color:#5c5c5c;}
.join_inner .ref li {
	padding-left: 11px;
	text-indent: -11px;
}
.join_inner .ref li + li {margin-top:10px;}
.join_btn_btm {
	width:100%; line-height: 65px; margin-top: 30px;
	font-size:18px; color:#fff; font-family: 'NanumBarunGothicB';
	background-color: #002a54;
}
.join_btn_btm2 {
	width:100%; line-height: 65px;
	font-size:18px; color:#888; font-family: 'NanumBarunGothicB';
	border:1px solid #999;
	background-color: #fff;
}
.join_btn_btm + .join_btn_btm2 {margin-top:10px;}
.join_inner .reg {
	position: relative;
	margin-bottom: 10px;
}
.join_inner .reg input {
	width:100%; padding:0 0 0 20px; height: 50px; line-height: 50px;
	color:#777;
	border:0 none;
	background-color: #f1f1f1;
}
.join_inner .reg button {
	position: absolute; right:0; top:0;
	width:80px; line-height: 50px;
	color:#fff;
	background-color: #7b7b7b;
}
.join_inner .reg + p + p {margin-top:5px;}
.join_inner .reg + p label em {color:#888;}
.join_inner .fn {
	line-height: 32px; padding-top:150px;
	font-size: 24px; color:#555; text-align: center;
	background: url('../images/common/img_fn.png') no-repeat 50% 60px;
}

.icon_point, .icon_active {
	display: inline-block;
	position: relative;
	padding-left:30px;
	font-size: 13px; color:#222;
}
.icon_point:before, .icon_active:before {
	display: block; content: '';
	position: absolute; left:0; top:50%;
	width:26px; height:26px; margin-top:-13px;
}
.icon_point:before {background: url('../images/icon/icon_point.png') no-repeat 0 0}
.icon_active:before {background: url('../images/icon/icon_active.png') no-repeat 0 0}
.icon_active {margin-left:15px;}


.error_new{position:absolute;top:0;left:0;width:100%;height:100%;text-align:center;}
.error_new .error_box{display:inline-block;vertical-align:middle;text-align:center;padding-top:170px;background: #fff url('../images/common/error_new.jpg') no-repeat center top;}
.error_new strong{display:block;font-size:32px;color:#000;}
.error_new p{font-size:16px;color:#555;margin-top:25px;line-height:22px;}
.error_new button{width:220px;height:54px;margin-top:40px;display:inline-block;background-color:#383838;color:#fff;font-size:16px;border:0;display:inline-block;line-height:54px;}
.error_new .errow_align{display:inline-block;width:0;height:100%;vertical-align:middle}

.error {
	padding-top:390px;
	background: #fff url('../images/common/img_error_bg.png') no-repeat 50% 40px;
}
.error > div {text-align:center;}
.error1 {
	line-height: 37px;
	font-size: 26px; color:#666;
}
.error1 em {font-family: 'NanumSquareB'; color:#fb6f4a;}
.error2 {
	padding:40px 0 30px;
	font-size: 18px; color:#6c6c6c;
}
.error2 em {color:#fb6f4a;}
.error3 button {
	width:260px; height: 74px;
	font-family: 'ngB'; font-size: 20px; color:#fff;
	background-color: #fb6f4a;
}
.error3 button em {
	display: inline-block;
	margin-right: 3px;
	font-size: 16px;
}

.fixed {
	position: fixed; top:0; left:0;
	padding:20px 0;
	width:100%;
	background-color:rgba(255,255,255,0.8);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr=#ccffffff,endColorStr=#ccffffff)";
	zoom:1;
	z-index: 12;
}
.fixed ul {width:980px; margin:0 auto;}
.tab_ty2 .tab_tit.fixed {padding-bottom:0;}
.tab_ty3 .tab_tit.fixed {padding-bottom:0;}
.gnb.no_all{padding-left:0;}

.many_order_btn{background-image:url('../images/btn/many_order_btn.png');width:110px;margin-left:10px;text-indent:-999em;overflow:hidden;height:37px;text-align:left;}
.popup.new_popup_form{position:fixed;}
.new_popup_form{position: fixed;top: 0;left: 0;width: 100%;height: 100%;text-align: center;z-index: 999999;background-image: url('/img/black_bg.png');overflow-y: auto;}
.new_popup_form .new_pop_box{display: inline-block;background: #fff;vertical-align: middle;border: 1px solid #c1c1c1;position: relative;width:460px;}
.new_popup_form .new_pop_box .new_pop_tit{background-color:#47505c;color:#fff;padding:20px 0;font-size:16px;}
.new_popup_form .new_pop_box .new_pop_txt{padding:20px 40px;}
.new_popup_form .new_pop_box .new_pop_txt p{font-size:14px;margin:10px 0;word-break:keep-all;line-height:22px;}
.new_popup_form .new_pop_box .np_close{position: absolute;right: 16px;top: 16px;width: 24px;height: 24px;background: url('../images/sub/sub_sp.png') no-repeat -140px -20px;text-indent:-999em;overflow:hidden;}
.new_popup_form .popup_align{display: inline-block;width: 0;height: 100%;vertical-align: middle;}

.quick_customer{position:relative;}
.quick_customer .qc_banner{width:80px;height:80px;cursor:pointer}
.quick_customer .qc_banner img{max-width:100%;}
.quick_customer .qc_box{position:absolute;left:90px;top:0;width:337px;height:301px;display:none;}
.quick_customer .qc_box .qc_cont{width:100%;height:100%;background-image:url('../images/common/qc_bg.png');background-repeat:no-repeat;background-size:cover;padding-top:163px;padding-right:36px;text-align:center;color:#fff;-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
.quick_customer .qc_box .qc_cont span{display:block;}
.quick_customer .qc_box .qc_cont span.number{font-size:29px;font-weight:bold;}
.quick_customer .qc_box .qc_cont span.time{font-size:16px;margin-top:20px;}
.quick_customer .qc_box .qc_cont span.holiday{font-size:15px;margin-top:5px;}
.quick_customer .qc_box .qc_close{position:absolute;top:0;right:0;width:44px;height:44px;background-color:transparent;border:0;text-indent:-999em;overflow:hidden}
.quick_customer .qc_box .qc_cont.open{}

.loading_layer{position: fixed;top: 0;left: 0;width: 100%;height: 100%;text-align: center;z-index: 999999;overflow-y: auto;}
.loading_layer .loading_box{display: inline-block;vertical-align: middle;position: relative;}
.loading_layer .loading_box .sk-fading-circle{}
.loading_layer .loading_box p{font-size:16px;color:#ffffff;font-weight:bold;}
.loading_layer .loading_align{display: inline-block;width: 0;height: 100%;vertical-align: middle;}
.sk-fading-circle {
  margin:0 auto 20px;
  width: 40px;
  height: 40px;
  position: relative;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #000;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
          animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); 
}
.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); 
}
.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; 
}
.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; 
}
.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; 
}
.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; 
}
.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; 
}
.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; 
}
.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; 
}
.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

@keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; } 
}

.priceitem.inner .div_tab > div{border-top:1px solid #e2e2e2;border-left:1px solid #e2e2e2;border-right:0;border-bottom:0;}
.priceitem.inner .div_tab > div li a{border-right:1px solid #e2e2e2;border-bottom:1px solid #e2e2e2;border-left:0;border-top:0;}

.tbl_interest_etc {
	font-size: 13px;
	border-top: 2px solid #af0f33; border-bottom:1px solid #ededed;
}
.tbl_interest_etc.btm_no_line {border-bottom:0 none;}

.tbl_interest_etc tbody th {
	padding-left:10px;
	border-bottom:1px solid #ebebeb;
}

.tbl_interest_etc tbody td {
	height: 44px;
	color:#333;
	border-top:1px solid #ebebeb; border-left:1px solid #ebebeb; border-right:1px solid #ebebeb;
}

.magic{display:block;background-color:#005fc4;color:#fff;margin:0 auto 3px;width:60px;padding:3px 0;}

.tbl_view4 
	margin-top:20px;
	font-size: 13px;
	border-top:1px solid #ebebeb;
	border-left:1px solid #ebebeb;
	border-right:1px solid #ebebeb;
}
.tbl_view4 caption{
	position:relative;visibility:visible;width:100%;height:auto;padding:15px 0;color:#222;
	text-align:center;font-size:15px;font-weight:600;
}
.tbl_view4 tbody th {
	padding:7px 10px;
	color:#222; text-align: center;
	border-bottom:1px solid #ebebeb;
	background-color: #f8f8f8;
}
.tbl_view4 tbody th + th{border-left:1px solid #ebebeb;}
.tbl_view4 tbody td {
	height: 26px; padding:7px 10px;
	border-bottom:1px solid #ebebeb;
}
.tbl_view4 tbody td + td{border-left:1px solid #ebebeb;}

.tbl_view5 {
	margin-top:20px;
	font-size: 13px;
	border-top:1px solid #ebebeb;
	border-left:1px solid #ebebeb;
	border-right:1px solid #ebebeb;
}
.tbl_view5 caption{
	position:relative;visibility:visible;width:100%;height:auto;padding:15px 0;color:#222;
	text-align:center;font-size:15px;font-weight:600;
}
.tbl_view5 tbody th {
	padding:7px 10px;
	color:#222; text-align: left;
	border-bottom:1px solid #ebebeb;
	background-color: #f8f8f8;
}
.tbl_view5 tbody th + th{border-left:1px solid #ebebeb;}
.tbl_view5 tbody td {
	text-align:right;
	height: 26px; padding:7px 10px;
	border-bottom:1px solid #ebebeb;
}
.tbl_view5 tbody td + td{border-left:1px solid #ebebeb;}