@charset "UTF-8";
.main_content{margin-top:50px;margin-bottom:30px;}
.main_left{float:left;width:620px;}
.main_left{max-width:100%;}
.main_right{float:left;width:380px;margin-left:20px;}
.main_right .mr_mn{}
.main_right .mr_mn ul{}
.main_right .mr_mn ul li{zoom:1}
.main_right .mr_mn ul li:after{clear: both;}
.main_right .mr_mn ul li:before,.main_right .mr_mn ul li:after{display:table;content:"";*display:block; *overflow:hidden}
.main_right .mr_mn ul li a{display:block;height:32px;}
.main_right .mr_mn ul li a u{text-decoration:none;}
.main_right .mr_mn ul li a strong{float:left;width:129px;height:32px;background-color:#676361;}
.main_right .mr_mn ul li a strong u{display:block;line-height:32px;width:114px;height:32px;border-bottom:1px solid #7b7775;margin-left:15px;color:#fff;}
.main_right .mr_mn ul li a span{float:left;width:251px;height:32px;background-color:#8d8887;}
.main_right .mr_mn ul li a span u{display:block;line-height:32px;width:236px;height:32px;border-bottom:1px solid #9b9796;margin-right:15px;color:#fff;text-align:right;;letter-spacing:-1px;}
.main_right .mr_notice{border:1px solid #dcdcdc;height:84px;padding:0 14px;position:relative;margin-top:10px;}
.main_right .mr_notice strong{display:block;height:29px;border-bottom:1px solid #bfbfbf;padding-left:7px;line-height:29px;margin-top:3px;color:#222;font-weight:bold;}
.main_right .mr_notice ul{padding-left:7px;margin-top:4px;}
.main_right .mr_notice ul li{height:20px;line-height:20px;position:relative;padding-left:7px;}
.main_right .mr_notice ul li:before{content:"·";display:inline-block;width:7px;height:20px;line-height:20px;position:absolute;left:0;top:0;font-weight:bold}
.main_right .mr_notice ul li a{color:#222;display:inline-block;max-width:;width:250px;}
.main_right .mr_notice ul li a span{display:inline-block;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;max-width:250px;letter-spacing:-0.5px;}
.main_right .mr_notice ul li .date{color:#888;float:right;}
.main_right .mr_notice .mr_notice_more{position:absolute;top:3px;right:20px;height:29px;line-height:29px;color:#222;}
.main_right .mr_notice .mr_notice_more span{display:inline-block;font-size:11px;line-height:30px;margin-left:3px;}

.main_right .mr_inquery{background-color:#efefef;height:120px;margin-top:10px;}
.main_right .mr_inquery ul{}
.main_right .mr_inquery ul li{height:60px;background-repeat:no-repeat;background-position:31px center;padding:0 15px;}
.main_right .mr_inquery ul li.mr_inquery_company{background-image:url('../../images/ssgb2e_img/mr_inquery_company.jpg');}
.main_right .mr_inquery ul li.mr_inquery_company a{border-bottom:1px solid #d8d8d8;}
.main_right .mr_inquery ul li.mr_inquery_partner{background-image:url('../../images/ssgb2e_img/mr_inquery_partner.jpg');}
.main_right .mr_inquery ul li a{display:block;padding-left:75px;padding-top:12px;height:60px;}
.main_right .mr_inquery ul li a strong{color:#444;display:block;font-weight:bold;}
.main_right .mr_inquery ul li a span{color:#444;font-size:12px;display:block;margin-top:3px;}
	
.main_right .mr_login{margin-top:10px;border:1px solid #c3a48d;;letter-spacing:-1px;}	
.main_right .mr_login ul{}	
.main_right .mr_login ul li{float:left;width:126px;text-align:center;background-repeat:no-repeat;background-position:center 10px;position:relative}	
.main_right .mr_login ul li:before{content:"";display:inline-block;width:1px;height:44px;position:absolute;top:14px;left:-1px;background-color:#dcdcdc;}	
.main_right .mr_login ul li:first-child:before{display:none}	

.main_right .mr_login ul li.mr_login1{background-image:url('../../images/ssgb2e_img/mr_login1.jpg');}	
.main_right .mr_login ul li.mr_login2{background-image:url('../../images/ssgb2e_img/mr_login2.jpg');}	
.main_right .mr_login ul li.mr_login3{background-image:url('../../images/ssgb2e_img/mr_login3.jpg');}	
.main_right .mr_login ul li a{display:block;height:72px;padding-top:47px;color:#444;}	
.main_right .mr_login ul li a strong{font-weight:bold;}	
	
.main_right .mr_customer{border:1px solid #dcdcdc;height:54px;margin-top:10px;}
.main_right .mr_customer span{float:left;display:inline-block;color:#444;margin:19px 0 0 20px;font-weight:bold;letter-spacing:-0.7px;}
.main_right .mr_customer span.mr_ctit{margin:11px 0 0 16px;}